<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Vue2-Ninja</title>
</head>
<body>
<div id="app">
<h1>Looping over an array/list </h1>

<div>
<h2>Brands</h2>
<ul v-for="(car,index) in cars" :key="index">
  <li>{{car}}</li>
</ul
</div>


</div>
<div>
    <h2>Countries</h2>
    <ul v-for="(country,index) in  countries" :key="index">
    <li>{{country}}</li>
    </ul>
</div>
</div>




<!-- //! Event modifiers -->
<!-- //! https://vuejs.org/guide/essentials/event-handling.html#key-modifiers -->

<p v-html="EventModifiers"></p>



</div>





<script src="app.js"></script>
</body>
</html>