#container {
  width: 200px;
  height: 500px;
  margin: 0 auto;
  background-size: 80%;
}

.btn {
  background: green;
  padding: 9px 12px;
  width: 100%;
  border: none;
  margin-right: 5px;
  color: white;
  font-weight: 600;
}

h1 {
  margin: 2% 41%;
}

.main-div {
  opacity: 0.5;
}
