#canvas {
width:250;
padding:200px 20px;
text-align:center;
border:1px red solid;
margin:40px;
font-size:25px;
font-weight:700;
}

.body-content{
    width:650px;
    height:400px;
    border:1px solid green;
    margin:20px;
}